/* DispatchList.css */

.top{
    z-index: 1000;
}

.search-container {
    position: sticky;
    background-color: white;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    z-index: 10; /* Make sure it's above other content but below navbar */
}

.search-box {
    width: 85%;
    padding: 8px;
    font-size: 16px;
    margin-left: 264px;
}

.dispatch-table {
    width: 85%;
    border-collapse: collapse;
    margin-left: 264px;
}

.dispatch-table th,
.dispatch-table td {
    padding: 8px;
    text-align: left;
}

.dispatch-table th {
    background-color: #f4f4f4;
    position: sticky;
    top: 100px; /* Sticky after 100px scroll */
    z-index: 9; /* Ensure header is below the search box */
}

.dispatch-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}



